.cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50vw;
  padding: 2em;
  margin: 1em auto;
  border-radius: 10px;
  width: 80vw;
}
.cart-checkout > button {
  background-color: limegreen;
  transition: 0.3s;
}
.cart-checkout > button:hover {
  transform: scale(1.1);
}
@media (max-width: 700px) {
  .cart-checkout {
    font-size: 0.6em;
    width: 90vw;
    text-shadow: 0 0 5px black;
  }
  .cart-checkout > button {
    background-color: limegreen;
    transition: 0.3s;
  }
}
