.products-container {
  width: 95%;
  height: max-content;
  margin: 2em auto;
}
.product-header {
  font-size: 8vw;
  display: inline-block;
  position: relative;
  margin: 1em 1em;
}
.product-header::after {
  content: "";
  height: 3px;
  width: 100%;
  background: #3123ff;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.thumb-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
}
@media (min-width: 500px) {
  .product-header {
    font-size: 30px;
  }
}
